
:root{
  --margin: 15px;
  --padding: 15px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: black;
  text-align: right;
  margin: 0;
  padding: 0;
  /* background-color: #eef1f4; */
  
}

.container {
  overflow: hidden; 
  height: 100%;
  padding: 0;
  margin: 0;
}

.container:after {
  content: "";
  clear: both;
  display: table;
}

#top_container{
  background-image: url(/img/header.jpg); 
  height: 95vh;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  margin: var(--margin);
  background-blend-mode: multiply;
  /* padding: var(--padding); */
  /* height: auto; */
}

/* #top_container{
  text-align: left;
  margin: var(--margin);
  padding: var(--padding);
  background-color: #0077e6;
  display: flex;
} */

#bottom_container{
  text-align: left;
  margin: var(--margin);
  padding: var(--padding);
  background-color: #0077e6;
  display: flex; 
}

#header-text-bold{
  padding-top: 14%;
  font-size: 4rem;
  letter-spacing: 30px;
  /* font-weight: bold; */
  font-family: 'Arial', sans-serif;
  width: 30%;
  margin: auto;
  position: relative;
  animation: horizontal-text 20s 1;
  animation-direction: alternate;
  /* text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324; */
}


#header-text1{
  font-size: 1.5rem;
  /* font-weight: bold; */
  font-family: 'Arial', sans-serif;
  width: 40%;
  letter-spacing: 10px;
  margin: auto;
  bottom: 20%;
  animation: horizontal-text 20s 1;
  position: relative;
  animation-direction: alternate;
  /* text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324; */
}

#header-text2{
  font-size: 1.5rem;
  /* font-weight: bold; */
  font-family: 'Arial', sans-serif;
  letter-spacing: 10px;
  width: 40%;
  margin: auto;
  text-align: center;
  line-height: 0.1rem;
  margin-top: 3%;
  animation: horizontal-text 20s 1;
  position: relative;
  animation-direction: alternate;
  /* text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324; */
}

@keyframes horizontal-text {
  0%   {color: white; left: -80%; top: 0px;}
  25%  {color: white; left: 0px; top: 0px;}
}

.header-button{
  width: 20%;
  margin: 3% auto 10% auto;
  padding: 1%;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 50px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  color: white;
}

.header-button {
  background-color: white;
  color : #8b8888;
  width: 25%;
  margin: 3% auto 10% auto;
  padding: 1%;
  border-radius: 25px;
  font-family: 'Monospace', sans-serif;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  border: #0077e6;
  top: 20%;
}

.header-button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.header-button:after {
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

.header-button:hover{
  padding-right: 24px;
  padding-left:8px;
  box-shadow: 0 10px 20px -8px #008fd7;
  border: 4px solid #008fd7;
  color: #008fd7;
}

.header-button:hover:after {
  opacity: 3;
  left: 10px;
}

#content {
  text-align: left;
  margin: var(--margin);
  padding: var(--padding);
  background-color: #0077e6;
  display: flex;
  margin: var(--margin);
  padding: var(--padding);
  font-size: 0.5cm;
  line-height: 3ch;
  
}

.calc4{
  width: calc(20%);
  background-color: #e6ece9;
  margin: var(--margin);
  padding: var(--padding);
  opacity: 0.95;
  float: left;
  text-align: center;
  border-radius: 5px;
  min-height: 400px;
  height: 30em;
}

.calc3{
  width: calc(35%);
  background-color: #6af2a0;
  margin: var(--margin);
  padding: var(--padding);
}

.calc2{
  width: calc(60%);
  background-color: #6af2a0;
  margin: var(--margin);
  padding: var(--padding);
}


#content {
  background-image: url(/img/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  overflow: auto;
  padding-top: 5%;
  padding-left: 3%; 
}

.lecture-icons{
  width: 50%;
  opacity: 0.5;
}

.lecture-card-text{
  margin: 6%;
  opacity: 0.5;
}

.lecture-icons-title{
  opacity: 0.5;
  text-align: center;
}

.calc4:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
  opacity: 0.9;
  transform: scale(1.05);
}
